@using Bitshare.DataDecision.Model;
@using Bitshare.DataDecision.Common
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<string> BtnList = ViewBag.BtnList as List<string>;
    string StartTime = ViewData["StartTime"] as string;
    string EndTime = ViewData["EndTime"] as string;
    ViewBag.ExportUrl = "/System/PageRecord/DeriveData";
      
}

<script type="text/javascript">
    $(function () {
        var config = {

            url: '/System/PageRecord/GetDataList',

            postData: { startDate: $("#searchTxt").val(), endDate: $("#searchTxt").val() },

            colNames: [ '页面标题', '页面路径', '访问数量'],
            colModel: [
            
                        { name: 'PageTitle', index: 'PageTitle', width: 35, align: "center" },
                        { name: 'PageUrl', index: 'PageUrl', width: 35, align: "center" },
                        { name: 'CountSum', index: 'CountSum', width: 35, align: "center" }
                       
                      ]
        };
        JQ.InitTable(config);
        $("#btnSearch").click(function () {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            if (endDate == '' || endDate == undefined || endDate == null) {
                XPage.Search({
                    startDate: $("#startDate").val(),
                    endDate: $("#endDate").val()
                });
                $('.ui-widget-overlay').hide();
                $('#searchmodfbox_jqGridList').hide();

            }
            else {
                if (startDate <= endDate) {
                    XPage.Search({
                        startDate: $("#startDate").val(),
                        endDate: $("#endDate").val()
                    });
                    $('.ui-widget-overlay').hide();
                    $('#searchmodfbox_jqGridList').hide();
                }
                else {
                    alert("开始日期需小于结束日期");
                }
            }
        });
    });


    //单个表
    function GetCheckBoxExportRemove(url) {
        var Ridlist = $("#jqGridList").getGridParam("selarrrow");
        var datetbl = "";
        for (var i = 0; i < Ridlist.length; i++) {
            datetbl += Ridlist[i] + "PageTitle, PageUrl, count(Rid)  as CountSum";
        }
        var pageurl = window.location.search;
        var data = { "paramData": datetbl };
        if (Ridlist.length == 0) {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
           // data = { "startDate": startDate, "endDate": endDate, "District": $("#District").val() };
           // exp(data, url + pageurl);
            return false;
        }
        exp(data, url + pageurl)
        return false;
    }
    function searchList() {
        $('#searchmodfbox_jqGridList').appendTo($('body'));
        $('#searchmodfbox_jqGridList').show();
        $('.ui-widget-overlay').appendTo($('body'));
        $('.ui-widget-overlay').show()
    }   
</script>

@section Search {
    <label class="col-sm-9 control-label" style="margin-top: 5px;">
                开始日期：</label>
            <input type="text" id="startDate" name="startDate" placeholder="@StartTime" class="form-control" onclick="WdatePicker()" />
            <label class="col-sm-9 control-label" style="margin-top: 5px;">
                结束日期：</label>
            <input type="text" id="endDate" name="endDate" placeholder="@EndTime"  class="form-control" onclick="WdatePicker()" />
   @* <input id="keyword" type="text" class="input form-control" placeholder="操作内容" name="keyword" />*@
}


@*<script type="text/javascript">
    if (localStorage.pagecount) {
        localStorage.pagecount = Number(localStorage.pagecount) + 1;
    } else {
        localStorage.pagecount = 1;
    }
    document.write("访问数: " + localStorage.pagecount + " time(s).");
</script>*@


    @*<script>
    function GetCheckBoxExportRemove(url) {
        var Ridlist = $("#jqGridList").getGridParam("selarrrow");
        var datetbl = "";
        for (var i = 0; i < Ridlist.length; i++) {

            var row = jQuery('#jqGridList').jqGrid('getRowData', Ridlist[i]);
            datetbl += row.Rid + "*";
        }
        var pageurl = window.location.search;
        var data = { "paramData": datetbl };
        if (Ridlist.length == 0) {
            var startDate = $("#startDate").val();
            var endDate = $("#endDate").val();
            data = { "startDate": startDate, "endDate": endDate, "District": $("#District").val() };
            exp(data, url + pageurl);
            return false;
        }
        exp(data, url + pageurl);
        return false;
    }
    function searchList() {
        $('#searchmodfbox_jqGridList').appendTo($('body'));
        $('#searchmodfbox_jqGridList').show();
        $('.ui-widget-overlay').appendTo($('body'));
        $('.ui-widget-overlay').show()
    }

 </script>*@

