@using Bitshare.DataDecision.Common
@{
    ViewBag.Title = "修改密码";
    Layout = "~/Views/Shared/_Single.cshtml";
}
@using (Html.BeginForm())
{
    <div style="padding: 10px;">
        <div class="form-group form-groupm" style="height: 30px; line-height: 30px;">
            <label class="col-sm-4 control-label" style="text-align: right">
                <span class="c-red">*</span>账户：</label>
            <div class="col-sm-8">
                @CurrentHelper.CurrentUser.User.UserName
            </div>
        </div>
        <div class="form-group form-groupm" style="height: 30px; line-height: 30px;">
            <label class="form-label col-sm-4" style="text-align: right">
                <span class="c-red">*</span>新密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" placeholder="新密码" name="newPassword"
                    id="new-password" required="" />
            </div>
        </div>
        <div class="form-group form-groupm" style="height: 30px; line-height: 30px;">
            <label class="form-label col-sm-4" style="text-align: right">
                <span class="c-red">*</span>确认密码：</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" placeholder="确认密码" name="new-password2"
                    id="new-password2" required="" />
            </div>
        </div>
        <div class="form-group form-groupm">
            <div class="col-sm-8" style="text-align: right">
                <input class="btn btn-primary radius" type="submit" value="保存" onclick="return CheckData()" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $(function () {
        var indx = parent.layer.getFrameIndex(window.name);
        $("form:first").ajaxForm({
            dataType: 'json', // 返回值类型
            success: function (data) { // ajax回调方法
                if (data.IsSuccess) {
                    layer.alert("修改密码成功!", { icon: 1 }, function (index) {
                        layer.close(index);
                        parent.layer.close(indx);
                    });
                }
                else {
                    layer.alert("保存失败!" + data.Message, { icon: 2 });
                }
            }
        });

    });

    function CheckData() {
        var pwd1 = $('#new-password').val();
        var pwd2 = $('#new-password2').val();
        if (pwd1 == "" || pwd2 == "") {
            layer.alert("新密码或者确认密码不能为空！", { icon: 0 });
            return false;
        }
        if (pwd1 != pwd2) {
            layer.alert("两次密码输入不一致！", { icon: 0 });
            return false;
        }
        else {
            return true;
        }
    }

</script>
