@using Bitshare.DataDecision.Model
@using Bitshare.DataDecision.Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "预订到期";
    List<string> BtnList = ViewBag.BtnList as List<string>;
}
<script type="text/javascript">

    $(function () {
        var config = {
            url: '/System/Schedule/GetPageResult',
            col: [
                    { name: "主键", index: "Rid", width: 60, key: true, hidden: true },
                    { name: "订单号", index: "AdOrderId", width: 65, align: "center" },
                    { name: "客户名称", index: "AdClientele", width: 65, align: "center" },
                    { name: "广告品牌", index: "AdContent", width: 65, align: "center", sortable: false },
                    { name: "有效日期", index: "EffectDate", width: 65, align: "center", sortable: false, formatter: "date" },
                    { name: "开始时间", index: "InsureIssueDate", width: 65, align: "center", sortable: false, formatter: "date" },
                    { name: "结束日期", index: "InsureEndDate", width: 65, align: "center", sortable: false, formatter: "date" }
                 ]
        };
        JQ.InitGrid(config);
    });
</script>
@section Search {
    <label class="col-sm-9 control-label" style="margin-top: 5px;">
        关键字</label>
    <div class="col-sm-12" style="z-index: 980;">
        @Html.TextBox("keyword", "", new { @class = "form-control", placeholder = "订单号" })
    </div>
}
