@using Bitshare.DataDecision.Model;
@using Bitshare.DataDecision.Common
@{
    ViewBag.Title = "流程定义";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.SecondItem = "流程定义";
    IEnumerable<SelectListItem> ProcessList = ViewData["ProcessList"] as IEnumerable<SelectListItem>;
    List<string> BtnList = ViewBag.BtnList as List<string>;
    ViewBag.AddUrl = "/System/ProcessManage/Create";
    ViewBag.EditUrl = "/System/ProcessManage/Edit/";
    ViewBag.DeleteUrl = "/System/ProcessManage/DataDel";
    ViewBag.ExportUrl = "/System/ProcessManage/DeriveData";
}
<script type="text/javascript">
  $(function () {
        var config = {
            title: '流程定义',
            url: '/ProcessManage/GetJqGridDataList',
            postData: { ProcessNum: $("#ProcessNum").val() },
            colNames: ['主键', '流程编号', '流程名称', '节点编号', '节点名称', '下一节点', '节点状态', '执行角色', '备注'@if (BtnList.Contains("编辑") || BtnList.Contains("删除"))
                        {<text>, '操作'</text>}],
            colModel: [
                        { name: 'Rid', index: 'Rid', width: 60, key: true, hidden: true },
                        { name: 'ProcessNum', index: 'ProcessNum', width: 50, align: "center" },
                        { name: 'ProcessName', index: 'ProcessName', width: 50, align: "center" },
                        { name: 'NodeNum', index: 'NodeNum', width: 50, align: "center" },
                        { name: 'NodeName', index: 'NodeName', width: 50, align: "center" },
                        { name: 'NodeNameNext', index: 'NodeNameNext', width: 55, align: "center" },
                        { name: 'NodeType', index: 'NodeType', width: 50, align: "center" },
                        { name: 'ExecutorRole', index: 'ExecutorRole', width: 50, align: "center" },
                        { name: 'ReMark', index: 'ReMark', width: 55, align: "center" }
                        @if (BtnList.Contains("编辑") || BtnList.Contains("删除"))
                        {<text>,
                        { name: 'Rid', index: 'Rid', title: false, sortable: false, width: 30, align: "center", formatter: function (id, a, b) {
                            return "</text>if (BtnList.Contains("编辑"))
                                       {<text><a title='编辑' href='javascript:;' onclick='edit(\"" + id + "\")' style='text-decoration:none'><i class='Hui-iconfont'>&#xe6df;</i></a></text>}<text> "

                        + "</text>if (BtnList.Contains("删除"))
                                       {<text><a title='删除' href='javascript:;' onclick='delSingleRow(\"" + id + "\")' class='ml-5' style='text-decoration:none'><i class='Hui-iconfont'>&#xe6e2;</i></a></text>}<text>";
                        } 
                        }</text>}
                ]
        };
        JQ.InitTable(config);
      
    });
</script>
@section Search {
   
 <div class="form-group">
         <label class="col-sm-9 control-label">
        流程名称：</label>
        <div class="col-sm-12">
           @Html.DropDownList("ProcessName", ProcessList, new { style = "vertical-align: middle", @class = "form-control", placeholder = "流程名称" })
        </div>
 </div>
}
